{{ define "dashboard" }}

<body>
    <div class="container">
        <br>
        <form action="/add_table/" method="post">
            <div class="input-group w-50 mx-auto">
                <input name="name" type="text" class="form-control text-dark" placeholder="Name">
                <button type="submit" class="btn btn-primary">New table</button>
            </div>
        </form>

        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Lines</th>
            </tr>
            {{ range .TableList }}
            <tr>
                <td><a href="table/{{ .Name }}">{{ .Name }}</a></td>
                <td>{{ .Date }}</td>
                <td>{{ .Lines }}</td>
            </tr>
            {{ end }}
        </table>
    </div>

{{ template "footer" }}
{{ end }}