{{ define "dashboard" }}

<body>
    <div class="container">
        <br>
        <form action="/add_table/" method="post">
            <div class="input-group w-50 mx-auto">
                <input name="name" type="text" class="form-control text-dark" placeholder="Name">
                <button type="submit" class="btn btn-primary">New table</button>
            </div>
        </form>

        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>
            {{ range .TableList }}
            <tr>
                <td><a href="table/{{ .Name }}">{{ .Name }}</a></td>
                <td>{{ .Date }}</td>
                <td>
                    <form action="/dashboard_rename/" method="post">
                      <div class="input-group">
                        <input name="id" type="hidden" class="form-control" value="{{ .Id }}">
                        <input name="name" type="text" class="form-control text-dark" value="{{ .Name }}" style="max-width: 25%">
                        <button type="submit" class="btn btn-primary">Rename</button>
                      </div>
                    </form>
                </td>
            </tr>
            {{ end }}
        </table>
    </div>

{{ template "footer" }}
{{ end }}