{{ define "table-edit" }}

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <form action="/add_to_watchlist/" method="post">
                    <input name="cur_table" value="{{ $.CurrentTable }}" type="hidden" class="form-control">
                    <input name="id" value="{{ .OneItem.Id }}" type="hidden" class="form-control">
                    <input name="name" value="{{ .OneItem.Name }}" type="hidden" class="form-control">
                    <button type="submit" class="btn btn-primary">Add to Watchlist</button>
                </form>
            </div>
            <div class="col">
                <form action="/sort_before/" method="post" class="input-group">
                    <input name="cur_table" type="hidden" class="form-control" value="{{ $.CurrentTable }}">
                    <input name="id" value="{{ .OneItem.Id }}" type="hidden" class="form-control">
                    <button type="submit" class="btn btn-primary">Place before</button>
                    <input name="before" type="number" class="form-control" style="max-width: 50%" placeholder="Sort number">
                </form>
            </div>
            <div class="col">
                <form action="/sort_by_id/" method="post">
                    <input name="cur_table" type="hidden" class="form-control" value="{{ $.CurrentTable }}">
                    <input name="id" value="{{ .OneItem.Id }}" type="hidden" class="form-control">
                    <button type="submit" class="btn btn-warning">Sort table by ID</button>
                </form>
            </div>
        </div>
        <br><br>
        <h3>Edit</h3>
        <table class="table">
            <tr>
                <td><a href="javascript:history.back()">
                    <button class="btn btn-primary">Back</button>
                </a></td>
                <td><form action="/del_line/" method="post">
                    <input name="cur_table" type="hidden" class="form-control" value="{{ $.CurrentTable }}">
                    <input name="id" value="{{ .OneItem.Id }}" type="hidden" class="form-control">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form></td>
            </tr>
            <form action="/update_line/" method="post">
                    <input name="id" value="{{ .OneItem.Id }}" type="hidden" class="form-control" readonly>
                    <tr>
                        <td>Date</td>
                        <td><input name="date" value="{{ .OneItem.Date }}" type="text" class="form-control text-dark" placeholder="Date"></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><input name="name" value="{{ .OneItem.Name }}" type="text" class="form-control text-dark" placeholder="Name"></td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td>
                        <div class="input-group">
                            <select name="color" class="form-select">
                                <option selected disabled>Select color</option>
                                <option value="">None</option>
                                {{ range .Colors }}
                                <option value="{{ .Code }}">{{ .Name }} ({{ .Code }})</option>
                                {{ end }}
                            </select>
                            <div class="input-group-prepend">
                                <span class="input-group-text">Or input color code</span>
                             </div>
                            <input name="color" value="{{ .OneItem.Color }}" type="text" class="form-control text-dark" placeholder="Example: #99ff33" style="background-color: {{ .OneItem.Color }}">
                        </div>
                        <a href="https://www.w3schools.com/colors/colors_picker.asp" target="_blank">Color Picker</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Count</td>
                        <td><input name="count" value="{{ .OneItem.Count }}" type="number" class="form-control text-dark" placeholder="Count"></td>
                    </tr>
                    <tr>
                        <td>Place</td>
                        <td>
                            <select name="place" class="form-select">
                                <option selected>{{ .OneItem.Place }}</option>
                                <option value="Left">Left</option>
                                <option value="Right">Right</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Sort</td>
                        <td><input name="sort" value="{{ .OneItem.Sort }}" type="number" class="form-control text-dark" readonly></td>
                    </tr>
                    <tr>
                        <td>
                            <input name="cur_table" type="hidden" class="form-control" value="{{ $.CurrentTable }}">
                        </td>
                        <td><button type="submit" class="btn btn-primary">Save</button></td>
                    </tr>
            </form>
        </table>
    </div>
        

{{ template "footer" }}
{{ end }}