{{ define "table" }}

{{ template "header" }}
    <!--Bootstrap theme-->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/superhero/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Date</th>
        </tr>
        {{ range . }}
        <tr>
            <td><a href="table/{{ .Name }}">{{ .Name }}</a></td>
            <td>{{ .Date }}</td>
        </tr>
        {{ end }}
    </table>

{{ template "footer" }}
{{ end }}