{{ define "config" }}

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <form action="/save_config/" method="post">
                    <h3>Theme</h3>
                    <select name="theme" class="form-select">
                    <option selected>{{ .Config.Theme }}</option>
                    {{ range .Themes }}
                        <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                    </select>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            <div class="col">
            <h3>Edit or delete table</h3>
            {{ range .TableList }}
                <form action="/dashboard_rename/" method="post">
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary" hidden></button>
                        <button type="submit" class="btn btn-danger" formaction="/dashboard_delete/" formmethod="post">Delete</button>
                        <input name="id" type="hidden" class="form-control" value="{{ .ID }}">
                        <input name="name" type="text" class="form-control text-dark" value="{{ .Name }}" style="max-width: 25%">
                        <button type="submit" class="btn btn-primary">Rename</button>
                    </div>
                </form>
            {{ end }}    
            </div>
        </div>
    </div>
        

{{ template "footer" }}
{{ end }}